* {
  margin: 0;
  padding: 0;
  box-sizing: none;
  outline: 0;
}

body {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  zoom: 0.75;
}

#logo-header {
  width: 254px;
  height: 114px;
}

#logo-footer {
  width: 276px;
  height: 124px;
  margin-top: 80px;
}

.container {
  max-width: 1550px !important;
}

.nav-item a {
  font-weight: 800;
  font-size: 22px;
  color: #00B12D;
  text-decoration: none;
}

.nav-item + .nav-item {
  padding-left: 66px;
}

.btn-green {
  background: linear-gradient(to bottom, #00b12d 0%, #008203 100%);
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  padding: 14px 58px;
  line-height: 1.2;
  border-radius: 15px;
}

.btn-white {
  background-color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  color: #00B12D;
  padding: 14px 58px;
  line-height: 1.2;
  border-radius: 15px;
  border: 4px solid #5BC77B;
  box-shadow: 0px 0px 22px 8px #BAE5C2;
}

.btn-green:hover {
  color: #fff;
  background: linear-gradient(to bottom, #008203 0%, #00b12d 100%);
}

.btn-white:hover {
  color: #fff;
  background: linear-gradient(to bottom, #008203 0%, #00b12d 100%);
}

h1 {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 60px;
  color: #fff;
}

#menu-topo {
  padding-top: 50px;
}

.container-banner-inicial {
  background-image: url("../assets/Quadro.png");
  background-color: green;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: rgb(255, 255, 255);
  padding: 105px 110px;
  margin-top: 188px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.container-banner-inicial > * {
  position: relative;
  z-index: 2;
}
@media (max-width: 768px) {
  .container-banner-inicial {
    height: 250px;
  }
  .container-banner-inicial h1 {
    font-weight: 800;
    font-size: 2.5rem;
    text-align: center;
    margin: 20px 0;
    line-height: 1.2;
  }
  .container-banner-inicial p {
    font-size: 1rem;
  }
}

.container-banner-inicial img {
  width: auto;
  height: 770px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-top: -21px;
}

.container-buttom {
  margin-top: 140px;
  align-items: center;
}

#overview {
  background-image: url("../assets/fundo-video.png");
  padding: 78px;
  margin-top: 100px;
}

.container-banner-final {
  background-image: url("../assets/Quadro-dois.png");
  background-color: green;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: rgb(255, 255, 255);
  padding: 105px 110px;
  margin-top: 188px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.container-banner-final > * {
  position: relative;
  z-index: 2;
}
@media (max-width: 768px) {
  .container-banner-final {
    height: 250px;
  }
  .container-banner-final h1 {
    font-weight: 800;
    font-size: 2.5rem;
    text-align: center;
    margin: 20px 0;
    line-height: 1.2;
  }
  .container-banner-final p {
    font-size: 1rem;
  }
}

.container-banner-final img {
  width: auto;
  height: 770px;
  position: absolute;
  top: 50%;
  transform: translateY(-54%);
  margin-top: 77px;
}

footer {
  background-image: url("../assets/Fundo-footer.png");
  background-color: #00B12D;
  margin-top: 100px;
  padding: 94px;
}

#text-footer {
  color: #fff;
  margin-top: 28px;
}

#footer-items {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
}

#footer-items ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bi {
  margin-right: 10px;
}

#footer-items a {
  text-decoration: none;
  color: inherit;
}

#footer-items li:not(:first-child) {
  margin-top: 10px;
}

.faq-container {
  max-width: 1550px;
  margin: 50px auto;
  padding: 20px;
}

.faq {
  margin-bottom: 10px;
  border-radius: 14px;
}

.faq-header {
  padding: 15px;
  background-color: #00CB2B;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  color: #fff;
  border-radius: 14px;
}

.faq-header:hover {
  background-color: #00CB2B;
}

.faq-content {
  display: none;
  padding: 15px;
  background-color: #00CB2B;
  border-top: 1px solid #00CB2B;
  color: #fff;
  border-radius: 14px;
}

.faq.active .faq-content {
  display: block;
}

.faq-header i {
  transition: transform 0.3s;
}

.faq.active .faq-header i {
  transform: rotate(180deg);
}

.faq-header .arrow {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

h2 {
  font-size: 54px;
  text-transform: uppercase;
  margin-bottom: 65px;
  font-weight: 800;
  background: #037D03;
  background: linear-gradient(to bottom right, #037D03 0%, #2AB542 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#planos {
  background-color: #00B03D;
  padding: 80px 0 84px 0;
  background-image: url("../assets/bg-plano.png");
  background-size: cover;
  margin-top: 100px;
}

#planos h1, #overview h1 {
  font-size: 48px;
  text-transform: none;
}

#planos h6 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.card-plano {
  padding: 45px;
  border-radius: 60px;
  border: none;
  transition: 0.15s all linear;
}

.card-plano:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 10px 10px rgba(0, 0, 0, 0.15);
}

.card-plano .btn {
  background-color: #000000 !important;
  font-size: 24px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  padding: 5px;
  text-transform: uppercase;
}

.card-plano ul li {
  font-weight: 500;
}

.card-plano ul li + li {
  margin-top: 5px;
}

.number-spinner {
  padding: 6px;
  border-radius: 100px;
  border: 3px solid #fff;
}

.number-spinner input {
  background: transparent !important;
  border: none;
  color: #fff !important;
  font-weight: bold;
  font-size: 30px;
  padding: 0;
  outline: none !important;
  box-shadow: none !important;
  line-height: 1;
  height: 40px;
}

.number-spinner .btn-default {
  background-color: #fff;
  border-radius: 1000px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 40px;
  color: #00AF3D;
  padding: 0;
}

.btn-mensal-anual .btn {
  background-color: transparent !important;
  color: #000;
  border-color: #000 !important;
  border-width: 3px;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 50px;
  border-radius: 16px;
}

.btn-mensal-anual .btn + .btn {
  margin-left: -3px !important;
}

.btn-mensal-anual .btn.active {
  background-color: #000 !important;
  color: #fff !important;
}

#beneficios {
  margin-top: 100px;
}

#cards-beneficios {
  margin: 0px 110px;
}

#cards-beneficios h2 {
  font-size: 24px;
  font-weight: 600;
  margin-top: -85px;
}/*# sourceMappingURL=style.css.map */